#box
{
	width:500px;
	background-color: rgba(155, 168, 50,0.4);
	border-style: solid;
	border-width: 5px;
	border-color:#ff3399
	border-top-style:dotted;
	border-top-width: 6px;
	border-top-color:green;
	padding-top:60px;
	padding-right: 60px;
	padding-bottom: 60px;
	padding-left: 60px;
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 150;
	margin-left: auto;
	text-align: justify;
}